<md-dialog aria-label="Add user" class="md-theme">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Add a user to this project</md-subheader>
    <div class="md-tile-content">
      <ul>
        <li ng-repeat="user in dialog.users">
          <md-button ng-aria="Add this user" aria-label="Cancel" ng-click="dialog.attachUserToProject()">
            ADD USER
          </md-button>
        </li>
      </ul>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-aria="Cancel add user" aria-label="Cancel" ng-click="dialog.answer('Cancel')">
     Cancel
    </md-button>
  </div>
</md-dialog>
