<md-sidenav class="md-whiteframe-z2" md-component-id="sidebar">
  <div ng-controller="SidebarCtrl as sidebar">
    <md-toolbar class="md-theme" >
        <h1 class="md-toolbar-tools"><a ng-href="#home" style="color:white;">
            <img src="images/logos/logo_a.png" alt="adoc-editor.io" width="36px" height="36px"/>
            adoc-editor.io
        </a>
            <md-button aria-label="Close" class="md-button-fab " ng-click="sidebar.close()">
                <md-icon md-svg-icon="action:ic_highlight_remove_24px">
                </md-icon>
            </md-button>
        </h1>
    </md-toolbar>
    <md-list>
      <md-item >

            <p><a ng-href="#documentation">Documentation</a></p>

        <md-divider></md-divider>
      </md-item>
      <md-item >
        <md-item-content>
          <div class="md-tile-left">
            <p><a ng-href="#settings">Settings</a></p>
          </div>
        </md-item-content>
        <md-divider></md-divider>
      </md-item>
      <md-item >
        <md-item-content>
          <div class="md-tile-left">
            <p><a ng-href="#profile" title="View my profile">Profile</a></p>
          </div>
        </md-item-content>
        <md-divider></md-divider>
      </md-item>
      <md-item >
        <md-item-content>
          <div class="md-tile-left">
            <p><a ng-href="#contribute" title="How to contribute to the project">Contribute </a></p>
          </div>
        </md-item-content>
        <md-divider></md-divider>
      </md-item>
    </md-list>
  </div>
</md-sidenav>
