<div ng-controller="ProjectCtrl as pCtrl">
    <md-toolbar >
        <h1 class="md-toolbar-tools" style="color:white;">Projects
            <md-button aria-label="Close" class="md-button-fab" ng-click="pCtrl.close()">
                <md-icon md-svg-icon="action:ic_highlight_remove_24px">
                </md-icon>
            </md-button>
        </h1>
    </md-toolbar>

    <md-content class="md-padding" ng-hide="user">
        <p>You need <b>to be logged with Github</b> in order to view your profile.</p>
        <md-item ><md-item-content>
            <div class="md-tile-content">
                <md-button aria-label="Authentification with Github" class="md-fab" ng-controller="UsersLoginCtrl as login"  ng-click="login.authentification('github')">
                    <md-icon md-svg-icon="images/github-circle.svg" title="">
                    </md-icon>
                    <md-tooltip>
                        Sign-in with your GitHub Account
                    </md-tooltip>
                </md-button>
            </div>
        </md-item-content>
        </md-item>
    </md-content>

  <md-content ng-show="user.auth.uid" class="md-accent" flex layout-fill>
    <section class="md-accent">
      <md-list layout="vertical" class="md-accent">
        <md-item class="md-accent">
          <md-item-content>
            <div class="md-tile-content">
              <form style="padding: 1px;margin:1px" ng-submit="pCtrl.newProject()" name="projectForm">
                  <div layout layout-sm="column">
                      <md-input-container flex>
                          <label>Enter a project name (ex: My project)</label>
                          <input name="projectName" md-maxlength="30" ng-model="pCtrl.theProject.name" required placeholder="Submit to create a project.">
                          <div ng-messages="projectForm.projectName.$error">
                              <div ng-message="required">This is required.</div>
                              <div ng-message="md-maxlength">Name has to be less than 30 characters long.</div>
                          </div>
                      </md-input-container>
                  </div>
              </form>
                <select ng-model="pCtrl.loadedProject" ng-options="value.name group by pCtrl.getRoleOnProject(value.owner) for (id , value) in user.projects" ng-change="pCtrl.loadProject()">
                <option value="">--- Select a Project ---</option>
              </select>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </section>
      <md-divider></md-divider>
      <!-- Selected Project -->
      <section ng-model="pCtrl.project" ng-show="pCtrl.project">
          <md-toolbar class="md-primary md-shade-2" style="background-color: #aed581">

              <div class="md-toolbar-tools md-shade-2">
                  <h4><md-icon md-svg-icon="file:ic_folder_open_24px"  >
                  </md-icon> {{pCtrl.project.name}}</h4>
              </div>
          </md-toolbar>
          <md-item ng-hide="pCtrl.isProjectLoaded">
              <md-item-content>
                    <md-progress-circular class="md-accent " md-mode="indeterminate" ></md-progress-circular>
              </md-item-content>
           </md-item>
          <!-- files list -->
          <md-item ng-show="pCtrl.isProjectLoaded">
            <md-item-content>
              <div class="md-tile-content">
                  
                  <md-button ng-show="pCtrl.isOwner" title="Invite a user" ng-click="pCtrl.showUserToProjectDialog()" class="md-button-fab" aria-label="Invite an user" >
                      <md-tooltip>
                          Add a user to this project
                      </md-tooltip>
                      <md-icon  md-svg-icon="social:ic_person_add_24px" style="color:#aed581" ></md-icon>
                  </md-button>
                  <md-button title="Number of users" class="md-button-fab" aria-label="Number of users" >
                      <md-tooltip>
                          Number of users
                      </md-tooltip>
                      <md-icon  md-svg-icon="image:ic_filter_{{pCtrl.projectUsers.length}}_24px" style="color:#aed581" ></md-icon>
                  </md-button>
                  <span>
                      <img ng-repeat="user in pCtrl.projectUsers | filter: { isOnline: true }" style="margin-left: 2px; padding-bottom:2px; border-bottom: green solid 5px;"
                           ng-src="{{ user.avatar }}&s=24" alt="{{ user.username }}" title="{{ user.username }} is ONLINE"/>
                      <img ng-repeat="user in pCtrl.projectUsers | filter: { isOnline: false }" style="margin-left: 2px; padding-bottom:2px; border-bottom: grey solid 5px;"
                           ng-src="{{ user.avatar }}&s=24" alt="{{ user.username }}" title="{{ user.username }} is OFFLINE"/>
                  </span>
                <form style="padding: 1px;" name="projectFile"  ng-show="pCtrl.project" ng-submit="pCtrl.newBlankFile()">
                    <div layout layout-sm="column">
                      <md-input-container flex>
                          <label>Enter a file name (ex: sample.adoc)</label>
                          <input md-maxlength="30" required name="filename" ng-model="pCtrl.theNewFile.name" placeholder="Submit to create a file.">
                          <div ng-messages="projectFile.filename.$error">
                              <div ng-message="required">This is required.</div>
                              <div ng-message="md-maxlength">Name has to be less than 30 characters long.</div>
                          </div>
                      </md-input-container>
                  </div>
                </form>



                  <ul style="margin-left: 0" >
                    <li style="list-style: none" ng-repeat="f in pCtrl.project.files">
                    <md-button ng-show="f.github && f.id === pCtrl.refFile.id" title="Push to GitHub" ng-click="app.showPushDialog()" class="md-button-fab" aria-label="Push to GitHub" style="width: 30px; height: 30px;">
                      <md-tooltip>
                        Push to Github
                      </md-tooltip>
                      <md-icon  md-svg-icon="file:ic_cloud_upload_24px" style="color:rgb(76, 175, 80);width:16px;height:16px;" ></md-icon>
                    </md-button>
                    <md-button title="Edit" ng-click="pCtrl.editFile(f.id)" class="md-button-fab" aria-label="Edit" >
                      <md-tooltip>
                        Edit
                      </md-tooltip>
                      <md-icon  md-svg-icon="action:ic_description_24px" style="width:16px;height:16px;" ></md-icon>
                    </md-button>
                    <!-- TODO: find a better way to show the current edited file -->
                    <span ng-show="f.id === pCtrl.refFile.id">{{f.name}}</span>
                    <span ng-hide="f.id === pCtrl.refFile.id"><a class="md-theme" href="#/editor" ng-click="pCtrl.editFile(f.id)">{{f.name}}</a></span>
                  </li>
                </ul>
            </div>
          </md-item-content>
        </md-item>
    </section>
  </md-content>

  <div ng-show="pCtrl.activeGitHubIntegration && user.auth && pCtrl.project" ng-controller="GithubFilesCtrl as gfiles">

    <md-content class="" style="" flex layout-fill>
      <md-divider></md-divider>
        <md-toolbar class="md-primary md-hue-4 " style="background-color: #aed581">
            <div class="md-toolbar-tools ">
                <h4><md-icon md-svg-icon="file:ic_cloud_download_24px" ></md-icon> GitHub Integration</h4>
            </div>
        </md-toolbar>
        <section>
            <md-list layout="vertical">
                <md-item >
                    <md-item-content>
                        <div class="md-tile-content">
                            <select ng-model="gfiles.selectedRepository" ng-options="repo.full_name for repo in gfiles.repositories" ng-change="gfiles.getFiles(selectedRepository.sha)">
                                <option value="">--- Github Repositories ---</option>
                            </select>
                            <ul class="md-toolbar">
                                <li ng-repeat="file in gfiles.selectedRepository.files">
                                    <md-button title="Add file to project and Edit" ng-show="pCtrl.project && file.type==='blob'" ng-click="gfiles.addToProject(null, file.sha, file.path)" class="md-button-fab" aria-label="Edit" style="width: 30px; height: 30px;">
                                        <md-tooltip>
                                          Add file to project and Edit
                                        </md-tooltip>
                                        <md-icon  md-svg-icon="content:ic_add_circle_24px" style="color:rgb(76, 175, 80);width:16px;height:16px;" ></md-icon>
                                    </md-button>
                                    <md-button title="Open folder" ng-show="pCtrl.project && file.type==='tree'" ng-click="gfiles.getFiles(file.sha)" class="md-button-fab" aria-label="Edit" style="width: 30px; height: 30px;">
                                        <md-tooltip>
                                            Open the folder
                                        </md-tooltip>
                                        <md-icon  md-svg-icon="file:ic_folder_24px" style="color:rgb(76, 175, 80);width:16px;height:16px;" ></md-icon>
                                    </md-button>
                                    {{file.path}}
                                </li>
                            </ul>
                        </div>
                     </md-item-content>
                </md-item>
            </md-list>
        </section>
    </md-content>

    <!-- TODO => create a directive for github search -->
    <md-content  ng-controller="GithubSearchFilesCtrl as search">
      <md-item >
        <md-item-content >
          <div class="md-tile-content">
            <form style="padding: 5px;">
              <div class="row">
                <md-text-float label="Search for AsciiDoc files ({{search.results.total_count}})" ng-keyup="search.searchAsciiDocFiles()" ng-model="search.query" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 0, 'blur': 0} }"></md-text-float>
              </div>
            </form>
            <ul>
              <li ng-repeat="file in search.results.items">
                <md-button ng-show="pCtrl.project"  title="Add to project and Edit" ng-click="gfiles.addToProject(file.repository.name, file.sha, file.path)" class="md-primary" md-theme="cyan" aria-label="Profile" style="width: 30px; height: 30px;">
                  <md-icon  icon="images/md-icons/content/svg/ic_add_circle_24px.svg" ></md-icon>
                </md-button>
                <span ng-click="gfiles.addToProject(file.repository.name, file.sha, file.path)">{{file.name}} ({{file.repository.full_name}})</span>
              </li>
            </ul>
          </div>
        </md-item-content>
        <md-divider></md-divider>
      </md-item>
    </md-content>

  </div>

</div>
